{% extends "base.html" %}
{% block start %}
<div class="container mt-5 pt-5 pb-5">
  {% comment %} <div class="col-6 mx-auto">
    <form class="d-flex">
      <input type="text" name="search" class="form-control" placeholder="Search">
      <select class="form-control" name="sort_by">
        <option value="">Choose</option>
        <option  value="sort_low">Sort by Low to high</option>
        <option  value="sort_high">Sort by high to Low</option>


      </select>
      <button type="submit" class="btn text-white btn-info mt-1">Search</button>
    </form>
  </div> {% endcomment %}
    <div class="row">
      {% for task in tasks %}
        <div class="col-md-3 mt-3">
            <div class="card shadow" style="width: 18rem;">
         
              <a href="{% url 'edit_task' task.task_slug %}">
            
              <div class="card-body">
                  <h5 class="card-title">{{task.task_name }}</h5>

                    {% comment %} Price <span class="badge text-bg-danger">{{hotel.hotel_price}}</span>
                    Offer Price <span class="badge text-bg-success">{{hotel.hotel_offer_price}}</span> {% endcomment %}
<hr>
                  <p>{{task.task_description}}</p>
                  <p>{{task.task_status}}</p>
                  <p>{{task.task_priority}}</p>
                  <p>{{task.task_due_date}}</p>


                  {% comment %} <span class="badge text-bg-primary">Swimming Pool</span>
                  <span class="badge text-bg-primary">AC</span> {% endcomment %}

                </div>
                </a>
              </div>
        </div>
      {% endfor %}
       </div>
</div>

{% endblock %}