<!--login.html-->
{% extends "base.html" %}

{% block start %}

<div class="container mt-2 pt-2 pb-2">

  <div class="col-6 mx-auto card shadow p-4" style="border:none">
      <form method="POST">
        {% include "alerts.html" %}
        {% csrf_token %}
          <div class="text-center">
          {% load static %}
          <img height="240" src="{% static 'taskCenterlogo.png' %}">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input id="email" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>

          <button type="submit" class="btn btn-info text-white w-100">LOGIN</button>

          <br>          <br>

           <div class="text-center">
          <a  type="button" class="btn btn-primary w-50" href="{% url 'register'%}">Not Registered</a>
          </div> 
        </form>
  </div>
  </div>

  <script>

    function sendOtp(){
      var email = document.getElementById('email').value
      if(email == ""){
        alert("Email Cannot be blank")
        return
      }

      window.location.href = `/account/send_otp/${email}/`

    }


</script>


{% endblock %}
