<!--navbar-->
<nav class="navbar  navbar-dark  bg-info shadow-lg p-2 nav ">
  <div class="container-fluid">
    {% load static %}

    <a class="navbar-brand" href="/"> <img height="40" src="{% static 'Stayvia.png' %}" alt="..."></a>
    <p class="navbar-brand">Hi {{name}}<p>
    {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> {% endcomment %}
      {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
    </button>
    <div>
      <ul class="nav justify-content-end ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'add_task'%}">Add Task</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'assign_task'%}">Assign Task</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'edit_task'%}">Edit Task</a>
        </li>          {% endcomment %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'all_task'%}">All Task </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about'%}">About</a>
        </li>
        <a class="btn btn-danger" href="{% url 'logout_view'%}">Logout</a>           
        {% comment %} {% endif %}


        <li>{% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about'%}">About</a>
        </li>
        <a class="btn btn-danger" href="{% url 'logout_view'%}">Logout</a>   {% endcomment %}
        {% else %}
          <a class="nav-link text-white" href="{% url 'register'%}">Register</a>
          <a class="nav-link text-white" href="{% url 'login_page'%}">Login</a>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about'%}">About</a>
        </li>
        {% endif %}
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="w-100 bg-light border-bottom py-1">
  <div class="container-fluid">
    <small class="text-muted fw-semibold">
     {{ name }}
    </small>
  </div>
</div>