{% extends "base.html" %}

{% block start %}


<div class="container mt-2 pt-2 pb-2">

    <div class="col-6 mx-auto card shadow p-4" style="border:none">
        <form method="POST">
          {% include "alerts.html" %}
          {% csrf_token %}
          <div class="text-center">
            {% load static %}
            <img height="100" src="{% static 'Stayvia.png' %}">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone Number</label>
              <input type="text" name="phone_number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
            </div>

            <button type="submit" class="btn btn-info text-white w-100">Register</button>
          </form>
    </div>

    </div>


{% endblock %}